@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 60px);
  }
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 160px 160px;
}

.contenedor figure:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.contenedor figure:nth-child(6) {
  grid-column: span 2;
}

@media screen and (max-width: 576px){
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 160px 160px;
  }
  .contenedor figure:nth-child(1) {
    grid-row: span 1;
  }
  
  
}
